@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Aeonik Pro";
    src: url(/font/AeonikPro/AeonikProTRIAL-Regular.otf);
  }
  @font-face {
    font-family: "Aeonik Pro Bold";
    src: url(/font/AeonikPro/AeonikProTRIAL-Bold.otf);
  }
  @font-face {
    font-family: "Poppins";
    src: url(/font/Poppins/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: "Poppins Light";
    src: url(/font/Poppins/Poppins-Light.ttf);
  }

  @font-face {
    font-family: "Poppins Semi Bold";
    src: url(/font/Poppins/Poppins-Medium.ttf);
  }

  @font-face {
    font-family: "Poppins Bold";
    src: url(/font/Poppins/Poppins-Bold.ttf);
  }
  @font-face {
    font-family: "DM Sans";
    src: url(/font/DMSans/DMSans-Regular.ttf);
  }
  @font-face {
    font-family: "DM Sans Bold";
    src: url(/font/DMSans/DMSans-Bold.ttf);
  }
  @font-face {
    font-family: "SF Pro Text";
    src: url(/font/SF-Pro-Text/SF-Pro-Text-Regular.otf);
  }
  @font-face {
    font-family: "SF Pro Text Semibold";
    src: url(/font/SF-Pro-Text/SF-Pro-Text-Semibold.otf);
  }
  @font-face {
    font-family: "SF Pro Text Bold";
    src: url(/font/SF-Pro-Text/SF-Pro-Text-Bold.otf);
  }
  @font-face {
    font-family: "Inter";
    src: url(/font/Inter/static/Inter-Regular.ttf);
  }

  @font-face {
    font-family: "Inter Light";
    src: url(/font/Inter/static/Inter-Light.ttf);
  }
  @font-face {
    font-family: "IBM Plex Mono";
    src: url(/font/IBM-Plex-Mono/IBMPlexMono-Regular.ttf);
  }
  @font-face {
    font-family: "IBM Plex Mono Semi Bold";
    src: url(/font/IBM-Plex-Mono/IBMPlexMono-SemiBold.ttf);
  }
  @font-face {
    font-family: "Noto Sans";
    src: url(/font/Noto_Sans/NotoSans-Regular.ttf);
  }

  html,
  body {
    font-family: Aeonik Pro;
    scroll-behavior: smooth !important;
    min-width: 100vw;
  }
}

.sidebar {
  ul {
    li {
      a {
        &:hover {
          span {
            color: #fff;
            transition: all 0.3s ease-in-out;
          }
        }
        &.active {
          span {
            color: #fff;
            transition: all 0.3s ease-in-out;
          }
          &.main {
            svg {
              height: 40px;
              transition: all 0.3s ease-out;
              width: 40px;
            }
          }
        }
        &.main {
          &:hover {
            svg {
              height: 40px;
              transition: all 0.3s ease-out;
              width: 40px;
            }
          }
        }
        &.submenu {
          &:hover {
            svg:not(.no-animate) {
              height: 35px;
              transition: all 0.3s ease-out;
              width: 35px;
            }
            svg.no-animate {
              path: {
                display: none !important;
                fill: #de1efd !important;
              }
            }
          }
        }
      }
    }
  }
}

.transition {
  // transition: all 0.3s ease-in-out !important;
}

.allocation-chart {
  .highcharts-container {
    height: 250px !important;
  }
}
